body
{
background-image: url(giphy.gif);
background-repeat: no-repeat;
background-attachment: fixed;
background-size: 90%;

}

h2	
{
	font-size: 30px;
	color:blue;
	
}
a
{
	color: blue;
	text-decoration: none;
}